{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
<title>Item Values</title>
{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" crossorigin="anonymous">
{% endblock extra_head%}

{% block content %}
<div>
<table id="stats" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.value }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Points</th>
        </tr>
    </tfoot>
</table>

</div>
{% endblock content %}

{% block extra_js %}
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
    $('#stats').DataTable();
} );
</script>
{% endblock extra_js%}